body {
    font-family: "Microsoft YaHei", "Adobe Caslon Pro", "sans-serif";
    font-size: 14px;
    color: #dcdcdc;
    background: url("../img/bg/bg_game.jpg") 30% 50% no-repeat transparent;
    background-size: 100% 110%;
}

.start-container {
    box-sizing: border-box;
    width: 400px;
    min-width:400px;
    height:600px;
    margin:1px auto;
    padding-top:270px;
    text-align: center;
    background: url(../img/bg/bg_start.png) center 20% no-repeat;
    opacity: 0.7;
}
.start-container button {
    width: 200px;
    height:50px;
    margin-top:30px;
    border-radius: 50%;
    border:none;
    background-color: deepskyblue;
    font-size:1.2em;
    cursor: pointer;
}
.start-container button:hover {
    background-color: green;
}

.container {
    display: none;
    position: relative;
    width: 600px;
    min-width: 600px;
    height: 600px;
    min-height: 600px;
    margin: 1px auto;
    border: 1px solid deepskyblue;
    text-align: center;
    background-color: rgba(39,35,31,0.8);
}

/*左边面板*/
.left-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 100%;
    border-right: 1px solid deepskyblue;
}
.timer-panel {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100px;
    border-bottom: 1px solid deepskyblue;
}
.helper-panel {
    position: absolute;
    top: 150px;
    left: 0;
    width:100%;
    height:230px;
    border-top: 1px solid deepskyblue;
    border-bottom: 1px solid deepskyblue;
}
.level-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 100px;
    border-top: 1px solid deepskyblue;
}

/*中间主体*/
.main-panel {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}

/*右边面板*/
.right-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 99px;
    height: 100%;
    border-left: 1px solid deepskyblue;
}
.next-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid deepskyblue;
}
.setting-panel {
    position: absolute;
    top: 150px;
    right: 0;
    width: 100%;
    height: 150px;
    border-top: 1px solid deepskyblue;
    border-bottom: 1px solid deepskyblue;
}
.high-score-panel {
    position: absolute;
    bottom: 120px;
    right: 0;
    width: 100%;
    height: 100px;
    border-top: 1px solid deepskyblue;
    border-bottom: 1px solid deepskyblue;
}
.score-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    border-top: 1px solid deepskyblue;
}

/*公共部分*/
canvas {
    display: block;
}
.panel-header {
    height: 30px;
    line-height: 30px;
    margin: 0;
    background-color: #27231f;
    font-size:1.1em;
}
.panel-body {
    line-height: 70px;
}

.helper-panel .panel-body {
    line-height: 2em;
}
.setting-panel .panel-body {
    line-height: 1em;
}
.setting-panel .panel-body button {
    padding:10px 20px;
    margin-top: 10px;
}

/*模态框*/
.modal-dialog {
    display: none;
}
.modal-dialog::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
}
.modal-body {
    position: fixed;
    z-index: 100;
    width: 400px;
    height: 400px;;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    text-align: center;
    border-radius: 8px;
    background-color: #27231f;
}
.modal-body label {
    display: block;
    margin-top: 100px;
    font-size: 1.2em;
    cursor: pointer;
}
.modal-body #cb-sound {
    cursor: pointer;
}
.modal-body #btn-modal-close {
    position: absolute;
    bottom:100px;
    left: 160px;
    padding:10px 20px;
}


